body{
    font-family: arial, sans-serif;
}

.searchtxt{
    margin: 20px;
    font-size: 20px;
    color: #d93025;
}

.upperdiv{
    height: 80px;
    display: flex;
    align-items: end;
    margin: 20px 20px;
}

.hline{
    border-bottom: 1px solid #ebebeb;
}

.inputboxes{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 20px 0px;
}

.inputbox{
    /* margin: 5px; */
    width: 520px;
    height: 25px;
    outline: none;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    align-items: center;
    display: flex;
    font-size: 13px;
    padding: 1px 8px;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fpw{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.arangeinrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}

.textphrase{
    /* margin: 5px; */
    font-size: 12px;
    padding-left: 0px;
    display: flex;
    align-items: center;
}

.alignleft{
    display: flex;
    vertical-align: auto;
    width: 200px;
}

.findp{
    margin: 2px 20px;
    font-size: 20px;
}

.main{
    margin: 20px 20px;
}

.buttonbox{
    height: 30px;
    min-width: 120px;
    padding: 0px 12px;
    margin: 10px 5px;
    color: #fff;
    border: 1px solid #3079ed;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    background-color:#4d90fe;
    text-align: center;
    cursor: pointer;
}

.di2le{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    min-width: 167px;
    min-height: 41px;
    width: 50%;
}

.links__{
    margin: 8px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.links__:hover{
    text-decoration: underline;
}

.putdown{
    margin: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.second{
    margin: 2px 10px;
}